@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
}


.backnavdrop{
    
    //-webkit-backdrop-filter: saturate(180%) blur(5px);
    backdrop-filter:  blur(15px);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
}